<br><br>
<h1>All Animals</h1>
<br>
<% @all_animals.each() do |an_animal| %>
<ul>
  <li>Name: <%= an_animal.name %></li>
  <li>Age: <%= an_animal.age %></li>
  <li>Admission date: <%= an_animal.admission_date %></li>
  <li>Adoptable: <% an_animal.adoptable %>
                  <% if an_animal.adoptable  == "on"%>
                  <%="Yes"%>
                  <% else %>
                  <%="No"%>
                  <% end %>
  </li>
  <li>Owner: <%= an_animal.owner.name %></li>
  <li> <a href="/animals/<%= an_animal.id %>/edit">Update details</a> </li>

  <form action="/animals/<%= an_animal.id %>/delete" method="POST"> 
    <input type="submit" value="Delete Animal">
  </form>


</ul>
<hr>
<% end %>