<br><br><br>
<table>
<% @all_animals.each() do |an_animal| %>
<tr>
<th>
<ul>
  <li>Name: <%= an_animal.name %></li>
  <li>Age: <%= an_animal.age %></li>
  <li>Admission date: <%= an_animal.admission_date %></li>
  <li>Adoptable: <% an_animal.adoptable %>
                  <% if an_animal.adoptable  == "on"%>
                  <%="Yes"%>
                  <% else %>
                  <%="No"%>
                  <% end %>
  </li>
  <li>Owner: <%= an_animal.owner.name %></li>

  <form action="/animals/<%= an_animal.id %>/edit">
      <input type="submit" value="Update Animal Details" />
  </form>

  <form action="/animals/<%= an_animal.id %>/delete" method="POST"> 
  <input type="submit" value="Remove Animal from Shelter">
  </form>

</ul>
<hr>
</th>

<th> <img src ="./images/Badger.jpg" alt="badger" height="120" width="120">  </th>


<% end %>


</table>
